body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}
h3,h4 {
    margin-bottom: 10px;
}
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.exampleWrapper {
    margin: -5px;
}
.exampleWrapper:before,
.exampleWrapper:after {
    content:"";
    display: table;
    clear: both;
}
.exampleItem {
    float: left;
    width: 33.3333%;
}
.exampleItem p {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}